.sponsor {
    background-color: #0D0D0D;
    text-align: center;
}

.sponsorTitle {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    backdrop-filter: blur(4px);
    padding: 1.5rem 0 4rem 0;
}

.goldSponsor {
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.3rem;
    display: flex;
    letter-spacing: -0.3px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.guviImg {
    height: 7rem;
    padding-top: 1rem;
}

.eliteImg {
    height: 7rem;
    padding-top: 1rem;
}

.skillImg {
    height: 7rem;
    padding-top: 1rem;
}

.mavoxImg {
    height: 7rem;
    padding-top: 1rem;
}

.otherSponsor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 8rem 12rem;
}

.associateSponsor {
    padding: 2rem 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 6rem;
}

.associateSponsor > a > img {
    height: 7rem;
}

@media(max-width: 596px) {
    .associateSponsor {
        gap: 3rem;
    }
    .associateSponsor > a > img {
        height: 5rem;
    }
    .guviImg {
        height: 5rem;
    }
    .eliteImg {
        height: 5rem;
    }
    .skillImg {
        height: 5rem;
    }
    .mavoxImg {
        height: 5rem;
    }
    .otherSponsor {
        padding: 2rem 3rem;
        gap: 3rem;
    }
}

@media(max-width: 480px) {
    .associateSponsor {
        gap: 2rem;
    }
    .associateSponsor > a > img {
        height: 3rem;
    }
}