.memName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: -0.4px;
    color: #FFFFFF;
}

.memPos {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 0.8);
}

.memLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding-top: 0.5rem;
}

.memImg {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: 50% 0;
}