.contactHeader {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: -1.6px;
    color: #FFFFFF;
    padding: 2rem 7rem 1.5rem 7rem;
}

.map {
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.formField > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: -0.3px;
    color: rgba(255, 251, 254, 0.8);
    padding: 0.6rem;
}

input {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    height: 2rem;
    width: 15rem;
    padding: 1rem;
    background: #0D0D0D;
    font-size: 1.2rem;
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

#message {
    width: 33rem;
    height: 10rem;
    resize: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 1rem;
    background: #0D0D0D;
    font-size: 1.2rem;
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

::placeholder{
    color: white;
    opacity: 0.5;
}
input :focus{
    border: 3px solid white;
}

#submit {
    all: unset;
    background: #FF7C00;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: -0.3px;
    color: #FFFBFE;
    padding: 1rem 2.5rem;
    cursor: pointer;
}

.nameEmail {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media(max-width: 1230px) {
    input {
        width: 12rem;
        height: 1.5rem;
    }
    #message {
        width: 27rem;
    }
}

@media(max-width: 1127px) {
    .contactHeader {
        padding: 2rem 5rem 1.5rem 5rem;
    }
    .map {
        padding: 0 5rem;
    }
}

@media(max-width: 1050px) {
    .contactHeader {
        padding: 2rem 3rem 1.5rem 3rem;
    }
    .map {
        padding: 0 3rem;
    }
}

@media(max-width: 979px) {
    input {
        width: 10rem;
        height: 1.2rem;
    }
    #message {
        width: 23rem;
    }
}

@media(max-width: 880px) {
    .contactHeader {
        padding: 2rem 7rem 1.5rem 7rem;
    }
    .map {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 0 7rem;
    }
    input {
        width: 15rem;
        height: 2rem;
    }
    #message {
        width: 33rem;
    }
}

@media(max-width: 756px) {
    input {
        width: 10rem;
        height: 1.2rem;
    }
    #message {
        width: 23rem;
    }
}

@media(max-width: 600px) {
    .contactHeader {
        padding: 2rem 3rem 1.5rem 3rem;
    }
    .map {
        padding: 0 3rem;
    }
}

@media(max-width: 485px) {
    .contactHeader {
        padding: 2rem 1rem 1.5rem 1rem;
    }
    .map {
        padding: 0 1rem;
    }
}

@media(max-width: 436px) {
    .nameEmail {
        flex-direction: column;
        justify-content: center;
    }
    input {
        width: 20rem;
        height: 2rem;
    }
    #message {
        width: 20rem;
    }
    .map {
        align-items: center;
    }
    .contactHeader {
        padding: 2rem 2rem 1rem 2rem;
    }
}