@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    position: sticky;
    top: 0;
    background-color: #0D0D0D;
    z-index: 99;
    padding: 1rem 2rem;
}

.logo{
    width: 7rem;
}

.not-mobile {
    display: flex;
    gap: 2rem;
}

ul {
    list-style: none;
}

.mobile-toggle {
    display: none;
}

.mobile {
    display: flex;
    gap: 2rem;
}

.active {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    position: relative;
    letter-spacing: -0.1px;
    color: #FF7C00;
}

.inactive {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    position: relative;
    letter-spacing: -0.1px;
    color: rgba(255, 251, 254, 0.8);
}

.inactive:hover {
    color: #FFF;
}

.fa {
    color: #FFF;
}

@media(max-width: 882px) {
    .mobile {
        display: flex;
        gap: 2rem;
        position: fixed;
        inset: 0 0 0 0;
        background-color: #0D0D0D;
        flex-direction: column;
        padding: min(10rem, 10vh) 3rem;
        z-index: 999;
    }
    .not-mobile {
        display: none;
    }
    .mobile-toggle {
        display: block;
        position: absolute;
        width: 3rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;
        z-index: 9999;
        border: 0;
        font-size: 2.5rem;
        background-color: transparent;
        transition: all 0.5s ease;
    }
    ul {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}