@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.atvHero {
    width: 100%;
    height: 43vw;
    background: linear-gradient(90deg, #0D0D0D 0%, rgba(13, 13, 13, 0) 119.14%), url('https://ik.imagekit.io/difw0fvlzb/2022_dbXgUQzB1.png?ik-sdk-version=javascript-1.4.3&updatedAt=1654197763870') no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.atv_hero_content {
    padding: 5rem 50rem 0 0;
    text-align: center;
}

.atvTHE {
    font-family: 'Pacifico';
    font-weight: 400;
    font-size: 3.5rem;
}

.atv_hero_content > h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 4.2rem;
    letter-spacing: -0.1px;
    color: #FFFFFF;
}

.allAtvs {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.BAJA2022Res {
    background-color: #0D0D0D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BAJA2022Left_content {
    padding-left: 7rem;
}

.BAJA2022Left_content > h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -1.2px;
    color: #FFFFFF;
}

.eventRes2022 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: -0.3px;
    color: rgba(255, 251, 254, 0.8);
}

.BAJAgear1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0.4;
}

.BAJAgear2 {
    position: absolute;
    left: 50%;
    transform: translate(-106%, 178%);
    opacity: 0.4;
}

.gearSpin1 {
    animation: rotation1 5s infinite linear;
}

.gearSpin2 {
    animation: rotation2 5s infinite linear;
}

.rectAnimation {
    position: absolute;
    transform: translate(-95%, -20%);
}

@keyframes rotation1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes rotation2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
}

@media(max-width: 1250px) {
    .atv_hero_content {
        padding: 5rem 30rem 0 0;
    }
    .BAJA2022Right_content > img {
        height: 25rem;
    }
    .BAJA2022Left_content > h2 {
        font-size: 2.5rem;
    }
}

@media(max-width: 1000px) {
    .BAJA2022Left_content {
        padding-left: 5rem;
    }
}

@media(max-width: 920px) {
    .atv_hero_content > h2 {
        font-size: 3rem;
    }
    .atvTHE {
        font-size: 3rem;
    }
    .BAJA2022Left_content > h2 {
        font-size: 2rem;
    }
    .eventRes2022 {
        font-size: 1rem;
    }
    .BAJA2022Right_content > img {
        height: 22rem;
    }
    .BAJA2022Left_content {
        padding-left: 3rem;
    }
}

@media(max-width: 800px) {
    .atv_hero_content {
        padding: 5rem 20rem 0 0;
    }
    .BAJAgear1 {
        display: none;
    }
    .BAJAgear2 {
        display: none;
    }
    .eventRes2022 {
        font-size: 1.3rem;
    }
    .BAJA2022Res {
        all: unset;
        width: 100%;
    }
    .BAJA2022Left_content {
        padding-top: 2rem;
    }
    .BAJA2022Right_content {
        text-align: right;
    }
    .BAJA2022Right_content > img {
        width: 100vw;
        object-fit: contain;
    }
    #Titan2021 > img{
        transform: scaleX(-1);
    }
}

@media(max-width: 675px) {
    .atv_hero_content > h2 {
        font-size: 2rem;
    }
    .atvTHE {
        font-size: 2rem;
    }
    .atv_hero_content > a > img {
        width: 1.5rem;
    }
    .atv_hero_content {
        padding-top: 0;
    }
    .sponsorTitle {
        font-size: 1.5rem;
    }
    .allAtvs {
        gap: 3rem;
    }
}

@media(max-width: 540px) {
    .atv_hero_content {
        padding: 0;
    }
}